[Unit]
Description=Kafka Manager
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=ZK_HOSTS={{ groups['zk'] | join(":2181,") }}:2181
ExecStart={{ kafka_manager_dir }}/bin/kafka-manager
Type=simple
