[Unit]
Description=Kafka Manager
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=ZK_HOSTS={{ groups['zk'] | join(":{0},".format(zk_client_port)) }}:{{ zk_client_port }}
ExecStart={{ kafka_manager_dir }}/bin/kafka-manager
Type=simple
